input#solid.variation(type="radio" value="1" name="border" checked)
label(for="solid")
	span.circle
	span Flat UI

input#shadow.variation(type="radio" value="2" name="border")
label(for="shadow") 
	span.circle
	span Realistic

.folder
	.tabs
		button.tab.active(onclick="openTab(event, 'tab-1')")
			div
				span Work stuff
		button.tab(onclick="openTab(event, 'tab-2')")
			div
				span Food
		button.tab(onclick="openTab(event, 'tab-3')")
			div
				span Baking
		button.tab(onclick="openTab(event, 'tab-4')")
			div
				span Cat
	.content
		#tab-1.content__inner
			.page
				p Productize. Optics accountable talk. Thought shower. High performance keywords market-facing drink from the firehose, or you better eat a reality sandwich before you walk back in that boardroom, but accountable talk knowledge process outsourcing. 
				p What's our go to market strategy? cross functional teams enable out of the box brainstorming nor zeitgeist viral engagement. Deep dive. Organic growth quick sync, feed the algorithm. 
		#tab-2.content__inner
			.page
				p I love cheese, especially the big cheese gouda. Monterey jack red leicester roquefort cheese and wine fromage frais smelly cheese melted cheese dolcelatte. Fromage smelly cheese manchego paneer cheese and wine danish fontina macaroni cheese red leicester. 
				p Stilton fondue queso emmental when the cheese comes out everybody's happy croque monsieur queso paneer. Say cheese pecorino swiss boursin halloumi cottage cheese taleggio boursin. 
		#tab-3.content__inner
			.page
				p Cupcake ipsum dolor sit amet jujubes tart. Tiramisu icing gingerbread halvah cake. Marzipan cake soufflé cookie brownie ice cream cupcake. Dragée croissant bonbon ice cream oat cake jelly cookie. Wafer candy dessert jelly jelly-o. 
				p Oat cake donut powder pastry wafer brownie cupcake caramels bear claw. Bonbon caramels oat cake cake shortbread. Cake cheesecake candy icing bear claw marshmallow icing jelly. Halvah biscuit pudding danish cookie bonbon gummies.
		#tab-4.content__inner
			.page
				p Miaow then turn around and show you my bum flee in terror at cucumber discovered on floor. Terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry sleep on dog bed, force dog to sleep on floor and grab pompom in mouth and put in water dish cats are fats i like to pets them they like to meow back present belly, scratch hand when stroked. 
				p Bleghbleghvomit my furball really tie the room together love asdflkjaertvlkjasntvkjn (sits on keyboard) but bawl under human beds.
